
@{
    ViewData["Title"] = "Index";
    // Layout = "~/Views/Shared/_Layout.cshtml";
    // Layout = "~/Views/Shared/_Layout2.cshtml";
    Layout = null;


}

<h1>Index Page</h1>
<p>This is my Home Page</p>

@* @ViewData["data1"]; *@
@* @ViewBag.data2; *@
@* @TempData["data3"] *@




@* @ViewBag.data1 *@
@* <br /> *@
@* @ViewBag.data2 *@
@* <br /> *@
@* @ViewBag.data3 *@
@* <br /> *@


@* @{ *@
@*     foreach(var item in ViewBag.data4) { 
@*         <h2>@item</h2> *@
@*     } *@
@* } *@
@* <br /> *@
@* @{ *@
@*     foreach (var item in ViewBag.data5) *@
@*     { *@
@*         <h2>@item</h2> *@
@*     } *@
@* } *@
@* <br /> *@
@* @ViewBag.mygame; *@








@* @ViewData["data1"] *@
@* <br /> *@
@* @ViewData["data2"] *@
@* <br /> *@
@* @ViewData["data3"] *@

@* @{ *@
@*     foreach(var item in (string[])ViewData["data4"]) { *@
@*         <h2>@item</h2> *@
@*     } *@
@* } *@

@* @{ *@
@*     foreach (var item in (List<string>)ViewData["data5"]) { *@
@*         <h3>@item</h3> *@
@*     } *@
@* } *@


@* <h2>Current Date And Time Is @DateTime.Now.Year</h2> *@
@* <h2>Current Date And Time Is @DateTime.Now</h2> *@

@* @{ *@
@*     var name = "Parshant Chauhan"; *@
@*     var weight = 69; *@
@* } *@

@* <h2>Name = @name</h2> *@
@* <h2>Weight = @weight</h2> *@

@* @{ *@
@*     var myname = "prashant"; *@
@*     if(myname.Equals("prashant"))  { *@
@*         <h3>He Prime</h3> *@
@*     } else { *@
@*         <h3>You are not Prime</h3> *@
@*     } *@

@* } *@